<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Recipia</title>
</head>
<body class="bg-french-dark-blue w-full h-full grid font-sherif">
    <nav id="top" class="bg-french-red w-full h-16 shadow-lg rounded-b-md flex sticky">
        <div id="title" class="hidden sm:block md:w-56 md:text-2xl sm:text-lg md:mt-1 h-full w-1/5 ml-8 p-1 text-center flex-0">
            <h1 class="mt-2 text-french-white">
                <a href="{{ url_for('home') }}">Reciepia</a>
            </h1>
        </div>
        <div id="search" class="h-full flex-grow text-center justify-center p-3 items-center">
            <form method="POST" action="/search">
                {{ search.hidden_tag() }}
                <div class="bg-white flex w-4/5 h-auto rounded-xl p-1 shadow-xl">
                    {{ search.title(class="w-full h-8 p-2 rounded-2xl text-lg border-white") }}                
                    {{ search.submit() }}
                </div>
            </form>       
        </div>
        <div id="buttons" class=" flex mr-1 w-1/5 justify-end gap-1">
            <div class="md:hidden w-full h-full p-2 items-center">
                <svg class="hover:bg-red-500 active:bg-red-700 hover:rounded-2xl active:rounded-2xl" width="50px" height="50px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#000000" fill-rule="evenodd" d="M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z">
                </path></g></svg>
            </div>
            {% if  current_user.is_authenticated%}
                <div class="flex w-auto gap-5">
                    <button id="Login" class="hidden md:block rounded-xl h-full w-full md:mr-12 hover:bg-red-500 p-2 active:bg-red-700">
                        <a href="{{ url_for('Prof_per') }}" class="text-xl text-french-white">
                            Profile
                        </a>
                    </button>
                    <button id="Login" class="hidden md:block rounded-xl h-full w-full md:mr-12 hover:bg-red-500 p-2 active:bg-red-700">
                        <a href="{{ url_for('Logout') }}" class="text-xl text-french-white">
                            Logout
                        </a>
                    </button>
                </div>
            {% else %}
                <button id="Login" class="hidden md:block rounded-xl h-full w-1/3 md:mr-12 hover:bg-red-500 active:bg-red-700">
                        <a href="{{ url_for('Login') }}" class="text-xl text-french-white">
                            Login
                        </a>
                </button>
            {% endif %}
        </div>
    </nav>
    <main class="md:justify-center w-full h-auto md:flex grid mt-4">
        <div class=" w-full lg:w-2/3 h-full md:p-2 md:m-2">
            <section class="w-full h-full rounded-xl bg-french-white shadow-2xl md:m-1 p-5 grid justify-center">
                <form method="GET" action='/post'> 
                    {{ form.hidden_tag() }}   
                    <div class="bg-black md:w-82 md:h-72 w-auto h-auto rounded-lg ">
                        <img id="pfp" src={{ url_for('static', filename='imgs/'+form.image_post) }} alt="" class="w-full h-full">
                    </div>
                    <div class="md:w-full text-center w-auto h-auto grid-rows-1 p-3">
                        <p class="text-xl">
                            {{ form.title }} 
                        </p>
                    </div>                
                    <p id="receipe_details" class="w-full font-serif text-2xl opacity-100 text-black">
                        {{ form.content }}
                    </p>
                </form>
            </section>
        </div>
        <div class="lg:w-1/3  h-full m-2 p-3">
            <div class="h-auto rounded-xl bg-french-Very-light-blue shadow-2xl m-1" width="%80">
                <section class=" text-opacity-100 text-black text-2xl">
                    <form method='POST' action='/user'>
                        <button class="w-full">
                            <input type="hidden" name="username" value="{{ profile.author.username }}">
                            <input type="hidden" name="bio" value="{{ profile.author.bio }}">
                            <input type="hidden" name="image_file" value="{{ profile.author.image_file }}">
                            <table>
                                <tr class="hover:bg-french-very-dark-blue hover:text-white active:bg-frencg-light-blue">
                                    <td class="h-1/4 w-1/4 p-2 rounded-tl-xl">
                                        <div>
                                            <img id="pfp" src={{ url_for('static', filename='imgs/'+profile.author.image_file) }} alt="" class="rounded-full">
                                        </div>
                                    </td>
                                    <td class="h-1/4 w3/4 p-2 rounded-tr-xl">
                                        <div class="h-full flex-grow text-center">
                                                <p id="pfname">{{ profile.author.username }}</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="w-auto h-full p-4 ">
                                <p id="pfbio">
                                    {{ profile.author.bio }}
                                </p>
                            </div>
                        </button>
                    </form>
                </section>
            </div> 
            <div class="h-auto rounded-x shadow-2xl m-1" width="%80">
                <section class="h-full w-full">
                    {% for post in posts %}
                        <form method="POST" action="/post">
                            <input type="hidden" name="title" value="{{ post.title }}">
                            <input type="hidden" name="content" value="{{ post.content }}">
                            <input type="hidden" name="image_post" value="{{ post.image_post }}">
                            <button class="w-full h-full mb-2" type="submit">
                                <div class="w-full md:h-32 h-40 p-2 bg-french-white rounded-xl flex ">
                                    <img class="md:w-28 w-1/3 md:h-full h-6 rounded-xl" src={{ url_for('static', filename='imgs/'+post.image_post) }}>
                                    <table class="w-full">
                                        <tr class="h-1/5 w-full p-5">
                                            <td class="text-xl font-serif">
                                                <h1>{{ post.title }}</h1>
                                            </td>
                                        </tr>
                                        <tr class="h-4/5 w-full">
                                            <td class="text-lg font-serif p-5 break-words">
                                                {{  post.content  }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </button>
                        </form>
                    {% endfor %}    
                </section>
            </div> 
        </div>
    </main>
    <section class="w-full h-10 mt-auto">
        
    </section>
</body>
</html>