<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Recipia</title>
</head>
<body class="bg-french-dark-blue w-full h-full grid font-sherif">
    <nav id="top" class="bg-french-red w-full h-16 shadow-lg rounded-b-md flex sticky">
        <div id="title" class="hidden sm:block md:w-56 md:text-2xl sm:text-lg md:mt-1 h-full w-1/5 ml-8 p-1 text-center flex-0">
            <h1 class="mt-2 text-french-white">
                <a href="{{ url_for('home') }}">Reciepia</a>
            </h1>
        </div>
        <div id="search" class="h-full flex-grow text-center justify-center p-3 items-center">
            <input type="text" name="Search" id="search_bar" placeholder="Search..." class="w-full md:w-3/4 p-2 rounded-2xl text-lg shadow-xl">
        </div>
        <div id="buttons" class=" flex mr-1 w-1/5 justify-end gap-1">
            <div class="md:hidden w-full h-full p-2 items-center">
                <svg class="hover:bg-red-500 active:bg-red-700 hover:rounded-2xl active:rounded-2xl" width="50px" height="50px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#000000" fill-rule="evenodd" d="M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z">
                </path></g></svg>
            </div>
            {% if  current_user.is_authenticated%}
                <div class="flex w-auto gap-5">
                    <button id="Login" class="hidden md:block rounded-xl h-full w-full md:mr-12 hover:bg-red-500 p-2 active:bg-red-700">
                        <a href="{{ url_for('Prof_per') }}" class="text-xl text-french-white">
                            Profile
                        </a>
                    </button>
                    <button id="Login" class="hidden md:block rounded-xl h-full w-full md:mr-12 hover:bg-red-500 p-2 active:bg-red-700">
                        <a href="{{ url_for('Logout') }}" class="text-xl text-french-white">
                            Logout
                        </a>
                    </button>
                </div>
            {% else %}
                <button id="Login" class="hidden md:block rounded-xl h-full w-1/3 md:mr-12 hover:bg-red-500 active:bg-red-700">
                        <a href="{{ url_for('Login') }}" class="text-xl text-french-white">
                            Login
                        </a>
                </button>
            {% endif %}
        </div>
    </nav>
    <main class="md:justify-center w-full h-auto md:flex grid mt-4">
        <div class=" w-full lg:w-2/3 h-full md:p-2 md:m-2">
            <section class="w-full h-full rounded-xl bg-french-white shadow-2xl md:m-1 p-5 grid justify-center">
                <table>
                    <tr class="lg:block">
                        <td>
                            <div class="bg-black md:w-72 md:h-72 w-auto h-auto rounded-lg">
                                <img class="w-full h-full rounded-lg" id="food_image" src="../css/pictures/images.png" alt="">
                            </div>
                        </td>
                        <td class="flex-grow">
                            <div class="md:w-2/3 md:h-72 w-auto h-auto grid-rows-1 p-3">
                                <p class="text-xl">
                                    words words words words words words  
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <p id="receipe_details" class=" font-serif text-2xl opacity-100 text-black w-auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo ac dui ultrices, vitae efficitur odio tincidunt. In hac habitasse platea dictumst. Suspendisse potenti. Nulla facilisi. Duis sit amet semper sapien. Vivamus facilisis massa vitae dolor imperdiet, non malesuada turpis auctor. Sed vel euismod lacus, non varius nunc. Proin ac sodales libero. Curabitur venenatis orci vel odio laoreet, in mattis tortor commodo.

                Praesent sagittis convallis nulla, at vulputate ipsum viverra et. Ut congue velit nec libero feugiat luctus. Integer facilisis sem sit amet quam facilisis, vitae imperdiet urna scelerisque. Nullam non nisi vitae elit fringilla finibus ut sit amet justo. Nam euismod mauris at mauris feugiat, vitae fermentum nisi tincidunt. Vestibulum nec tellus id ligula cursus volutpat. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus luctus sapien id scelerisque fermentum.

                Quisque in leo eu dui dapibus volu pat. Aliquam ut sapien vel elit auctor interdum. Vivamus eget neque vitae lacus tincidunt dapibus. Integer at vestibulum nunc. Fusce vel justo at elit tincidunt ultrices id eu elit. Nunc ut orci vitae ligula laoreet laoreet. Etiam eget nisl vel erat bibendum semper. Ut vitae tellus eget orci posuere ullamcorper a vitae dui. Nullam eleifend eros a risus bibendum, nec consequat dolor varius. Duis faucibus rhoncus enim, id bibendum ex bibendum id. Suspendisse potenti. Fusce vehicula venenatis velit ut facilisis.

                Aenean luctus leo nec posuere laoreet. Nulla facilisi. Phasellus vel augue eu elit cursus luctus. Integer eget nunc eu elit suscipit ullamcorper. Etiam fringilla, dui eu vulputate laoreet, elit orci elementum libero, id tincidunt purus turpis et augue. Vivamus tincidunt orci sed urna aliquet, nec tincidunt elit convallis. Integer ac mi eget ligula blandit bibendum. Suspendisse potenti. Sed id fringilla tortor, vel sodales tortor. Morbi ac odio vitae quam varius posuere sit amet ac sem. Nam efficitur mi nec vestibulum tincidunt.

                </p>
            
            </section>
        </div>
        <div class="lg:w-1/3  h-full m-2 p-3">
            <div class="h-auto rounded-xl bg-french-Very-light-blue shadow-2xl m-1" width="%80">
                <section class=" text-opacity-100 text-black text-2xl">
                    <table>
                        <tr class="hover:bg-french-very-dark-blue hover:text-white active:bg-frencg-light-blue">
                            <td class="h-1/4 w-1/4 p-2 rounded-tl-xl">
                                <div>
                                    <img id="pfp" src="../css/pictures/images.png" alt="" class="rounded-full">
                                </div>
                            </td>
                            <td class="h-1/4 w3/4 p-2 rounded-tr-xl">
                                <div class="h-full flex-grow text-center">
                                    <p id="pfname">Samle name</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="w-auto h-full p-4 ">
                        <p id="pfbio">
                            samle text to check the efficency of the bio ik the work efficeny was written wrong lol
                        </p>
                    </div>
                </section>
            </div> 
            <div class="h-auto rounded-xl bg-french-Very-light-blue shadow-2xl m-1" width="%80">
                <section class="h-full w-full">
                    <table id="more_recipes" class="lg:h-full w-full h-auto">
                        
                    </table>
                </section>
            </div> 
        </div>
    </main>
    <section class="w-full h-10 mt-auto">
        
    </section>
    <script src="{{ url_for('static', filename='js/more_recipes.js') }}"></script>
</body>
</html>